/* ..................................................................................................... */
/* ALTO CONTRASTE */
.contrast,
.contrast nav,
.contrast div,
.contrast li,
.contrast ol,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article {
    background: white !important;
    color: #0b1026 !important;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,
.contrast span {
    color: #0b1026 !important;
}

.contrast a{
    color: #0b1026 !important;
	text-decoration:underline;
	background: white !important;
}
.contrast a:hover{
    color: #0b1026 !important;
	text-decoration:none;
	background: white !important;
}
.contrast button,
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
    background: white !important;
    color: #0b1026 !important;
    border: #0b1026 !important;
}


.contrast input[type=text],
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
    background: white !important;
    border: 1px solid white !important;
    color: #0b1026 !important;
}






.contrast #page-footer a{
    color: White !important;
	text-decoration:underline;
	background: #0b1026 !important;
}
.contrast #page-footer a:hover{
    color: White !important;
	text-decoration:none;
	background: #0b1026 !important;
}
.contrast #page-footer button,
.contrast #page-footer input[type=button],
.contrast #page-footer input[type=reset],
.contrast #page-footer input[type=submit] {
    background: #0b1026 !important;
    color: White !important;
    border: #0b1026 !important;
}


.contrast #page-footer input[type=text],
.contrast #page-footer input[type=password],
.contrast #page-footer input[type=url],
.contrast #page-footer input[type=search],
.contrast #page-footer input[type=email],
.contrast #page-footer input[type=tel],
.contrast #page-footer input[type=date],
.contrast #page-footer input[type=month],
.contrast #page-footer input[type=week],
.contrast #page-footer input[type=datetime],
.contrast #page-footer input[type=datetime-local],
.contrast #page-footer textarea,
.contrast #page-footer input[type=number] {
    background: #0b1026 !important;
    border: 1px solid white !important;
    color: White !important;
}

.contrast #page-footer,
.contrast #page-footer nav,
.contrast #page-footer div,
.contrast #page-footer li,
.contrast #page-footer ol,
.contrast #page-footer header,
.contrast #page-footer footer,
.contrast #page-footer section,
.contrast #page-footer main,
.contrast #page-footer aside,
.contrast #page-footer article {
    background: #0b1026 !important;
    color: white !important;
}
.contrast #page-footer h1,
.contrast #page-footer h2,
.contrast #page-footer h3,
.contrast #page-footer h4,
.contrast #page-footer h5,
.contrast #page-footer h6,
.contrast #page-footer p,
.contrast #page-footer label,
.contrast #page-footer strong,
.contrast #page-footer em,
.contrast #page-footer cite,
.contrast #page-footer q,
.contrast #page-footer i,
.contrast #page-footer b,
.contrast #page-footer u,
.contrast #page-footer span {
    color: White !important;
}

.contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}